<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CrudServlet</servlet-name>
  	<display-name>CrudServlet</display-name>
  	<description></description>
  	<servlet-class>cn.xiaowenjie.CrudServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FirstServlet</servlet-name>
  	<display-name>FirstServlet</display-name>
  	<description>返回文本</description>
  	<servlet-class>cn.xiaowenjie.FirstServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JsonServlet</servlet-name>
  	<display-name>JsonServlet</display-name>
  	<description></description>
  	<servlet-class>cn.xiaowenjie.JsonServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JspServlet</servlet-name>
  	<display-name>JspServlet</display-name>
  	<description></description>
  	<servlet-class>cn.xiaowenjie.JspServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CrudServlet</servlet-name>
  	<url-pattern>/crud</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FirstServlet</servlet-name>
  	<url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JsonServlet</servlet-name>
  	<url-pattern>/JsonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JspServlet</servlet-name>
  	<url-pattern>/JspServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 默认到我们的servlet -->
  <welcome-file-list>
 	<welcome-file>index.jsp</welcome-file> 
  </welcome-file-list>
</web-app>
